---
import About from "@/components/sections/About.astro";
import Hero from "@/components/sections/Hero.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Minimalist Portfolio">
	<main>
		<Hero />
		<About />
	</main>
	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
